@tailwind base;
@tailwind components;
@tailwind utilities;


/* Login/signup landing Start */
.login_signup_bg {
    background-color: #b8d3ff;
}

.login_signup_h1 {
    text-align: center;
    font-size: 39px;
    margin-top: 80px;
    margin-bottom: 200px;
}

.login_signup_buttons {
    /* border-width: 1px;
    border-color: black; */
    background-color: white;
    padding: 10px;
    margin-block: 15px;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
    font-size: 31px;
}


.nunito1 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
  }
  /* Login/signup landing Start */

/* Signup and Login pages start */

.inputFields1 { /* this is used on the text-input.blade.php global componenet */
    border-width: 0px;
    background-color: white;
    padding: 10px;
    width: 300px;
    height: 50px;
    line-height: 30px;
    border-radius: 12px;
    font-size: 16px;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;

    /* @layer base {
        input::placeholder,
        textarea::placeholder {
          color: var(--color-gray-400);
        }
      } */
}

.inputFields1_text {
    font-size: 20px;
}

/* .guestFile {
    align-items: center;
    justify-content: center;
    font-size: 20px;
} */

.signup_h1 {
    text-align: center;
    font-size: 39px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.signupButtons{ /* this is used on the primary-button.blade.php and cancel-button.blade.php global componenets */
    /* padding: 10px; */
    width: 140px;
    margin-block: 15px;
    height: 50px;
    line-height: 30px;
    border-radius: 12px;
    font-size: 20px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
}

.addGap_register {
    gap: 20px;
}

.forgotPass {
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
    font-size: 16px;
    color: gray;
}

.login_signup_h1_2 {
    text-align: center;
    font-size: 39px;
    margin-bottom: 10px; /* Try reducing this */
    padding: 0;
}


/* Signup and login pages end */

/* Dashboard start */

.profileButton {
    align-items: flex-end;
}

.joinGroupButtonCeter {
    align-items: center;
}

.dash_h1 {
    text-align: center;
    font-size: 39px;
    margin-bottom: 100px;
}

.dash_h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.dash_thingy{
    background-color: white;
    padding: 10px;
    margin-block: 15px;
    width: 300px;
    min-height: 50px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
}

.joinGroupButton {
    background-color: rgb(157, 255, 183);
    padding: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
    align-items: center;
}

.loacalActivityBody {
    background-color: rgb(0, 79, 21);
    padding: 5px;
    min-width: 50px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
}

.loacalActivityTag {
    background-color: rgb(0, 255, 68);
    padding: 5px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
}
.loacalActivityLocation {
    background-color: rgb(0, 255, 68);
    padding: 5px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
}
.loacalActivityTime {
    background-color: rgb(0, 255, 68);
    padding: 5px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border-radius: 12px;
}